
    <!-- footer section starts -->

    <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>locations</h3>
                <a href="#">Mumbai</a>
                <a href="#">Delhi</a>
                <a href="#">Kolkata</a>
                <a href="#">bangalore</a>
                <a href="#">guwahati</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">Dishes</a>
                <a href="#">about</a>
                <a href="#">menu</a>
                <a href="#">review</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="#">+123-456-7890</a>
                <a href="#">+333-444-5555</a>
                <a href="#">mail</a>
                <a href="#">Mumbai, India - 400104</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="#">instagram</a>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
            </div>

        </div>

        <div class="credit">copyright @ 2023 by <span>SWC IIT Guwahati</span></div>

    </section>

    <!-- footer section ends -->


    <!-- loader section starts -->

    <div class="loader-container">
        <img src="./images/loader.gif" alt="">
    </div>
    
    <!-- loader section ends -->









    <!-- Swiper CDN -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- Custome JS  -->
    <script src="./js/script.js"></script>

    <!-- jQuery cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    
    
</body>
</html>