<%- include("header"); %>

<div class="confirm-box">
  <i class="fa-solid fa-circle-check tick"></i>
  <h3>Order received. Get ready to dig in!</h3>
  <a href="/" class="btn home-btn">return to home</a>
</div>

<%- include("footer"); %> 