<%- include("header"); %>


<!-- order section starts -->

<section class="order" id="order">

    <h3 class="sub-heading">order now</h3>
    <h1 class="heading">Order Your Food in a Snap!</h1>

    <form action="">
        <div class="input-box">
            <div class="input">
                <span>your name</span>
                <input type="text" placeholder="enter your name">
            </div>
            <div class="input">
                <span>your number</span>
                <input type="text" placeholder="enter your number">
            </div>
        </div>
        <div class="input-box">
            <div class="input">
                <span>your address</span>
                <textarea name="" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="input">
                <span>your message</span>
                <textarea name="" placeholder="enter your message" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        
        <input type="submit" value="order now" class="btn">
        
    </form>

</section>

<!-- order section ends -->



<%- include("footer"); %>
