<%- include("header"); %>


<section class="sign-up" id="sign-up">

    <div class="heading-container">
        <h1 class="heading">Create an Account</h1>
    </div>

    <form action="/signup" method="POST">
        <div class="input-box">
            <div class="input">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="name" placeholder="Your Name">
            </div>
            <div class="input">
                <i class="fa-solid fa-phone"></i>
                <input type="tel" name="phone" placeholder="Your Phone Number">
            </div>
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" name="username" placeholder="Your Email">
            </div>
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
        </div>
        
        <input type="submit" value="Sign up!" class="btn">
        <div class="login">
            <p>Already have an account? <a href="/login">Login Here</a> </p>
        </div>
        
    </form>

</section>



<%- include("footer"); %>
