<%- include("header"); %>


<section class="sign-up" id="sign-up">

    <h3 class="sub-heading">Create an Account</h3>
    <h1 class="heading">Create an Account</h1>

    <form action="">
        <div class="input-box">
            <div class="input">
                <span>your name</span>
                <input type="text" placeholder="enter your name">
            </div>
            <div class="input">
                <span>your number</span>
                <input type="text" placeholder="enter your number">
            </div>
        </div>
        <div class="input-box">
            <div class="input">
                <span>Your address</span>
                <textarea name="" placeholder="enter your address" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="input">
                <span>your message</span>
                <textarea name="" placeholder="enter your message" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        
        <input type="submit" value="order now" class="btn">
        
    </form>

</section>



<%- include("footer"); %>
